<div class="author-box">

        <img src="/assets/favicon.png" class="author-avatar" alt="Avatar" />
<!-- {{ site.description }} --> 
        <h1 stype="margin: 0">About Me</h1>

</div>
Hi there! I'm excited to share a bit about myself with you. As a Security Researcher, I spend my days delving deep into the world of cyber security. I am a genuine tech enthusiast and always strive to find new avenues to enhance my skills and knowledge in the field.
When I'm not immersed in the digital realm, You can find me pursuing one of my other passions, which is racing 🏎️. It's the perfect way to get an adrenaline rush and unwind after a long day of work."