<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header1.html -%} 

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
        <script src="https://tryhackme.com/badge/50613"></script>
      </div>

    </main>

    {%- include footer.html -%}
    <script>
      window.FontAwesomeConfig = {
        searchPseudoElements: true
      }
    </script>
  </body>

</html>
