---
layout: default1
---
  {% include author.html %}
<hr>
<!-- BLOGS-->
    <div class="post-links">
        <div class="post-link-wrapper">
          <a href="/blogs/" class="post-link"><h1 style="margin: 0;">Blogs</h1></a>
          <div class="post-meta" style="color: #71513A;">
            Explore my blog section to gain insights into the latest trends and techniques in cybersecurity. From malware to penetration testing, I cover a wide range of topics. Click on the link to discover my realm of knowledge.
            <div class="post-tags">
              <a class="tag">Malware</a><a class="tag">PenTesting</a>
            </div> 
          </div>
        </div>
    </div>
<!-- PROJECTS -->
    <div class="post-links">
      <div class="post-link-wrapper">
        <a href="{{ post.url | relative_url }}" class="post-link"><h1 style="margin: 0;">Projects</h1></a>
        <div class="post-meta" style="color: #71513A;">
          Explore a wide spectrum of technology-based projects that I have created. From cutting-edge software to state-of-the-art hardware, my portfolio showcases a range of technologies. Discover my world of technology today!
          <div class="post-tags">
            <a class="tag">Hacking Tools</a>
            <a class="tag">Vuln Machines</a>
            <a class="tag">Data Analysis</a>
          </div> 
        </div>
      </div>
    </div>
<!-- CTF WALKTHROUGH-->
    <div class="post-links">
      <div class="post-link-wrapper">
        <a href="/CTF/" class="post-link"><h1 style="margin: 0;">CTF WalkThrough</h1></a>
        <div class="post-meta" style="color: #71513A;">
          Gain valuable insights into the world of cybersecurity and improve your skills by exploring my comprehensive guide on various CTF challenges. Are you ready to compete with the best?
          <div class="post-tags">
            <a class="tag">TryHackMe</a>
            <a class="tag">HackTheBox</a>
            <a class="tag">VulnHub</a>
          </div> 
        </div>
      </div>
    </div>

