---
layout: default1
---

{% unless site.dash.show_author == false %}
  {% include author.html %}
{% endunless %}

<hr>

<h1>Advent of Cyber 3 (2021)</h1>
    <div>
      Get started with Cyber Security in 25 Days - Learn the basics by doing a new, beginner friendly security challenge every day leading up to Christmas.
    </div><br>
    <div class="post-links">
        <div class="post-link-wrapper">
          <a href="/adventofcyber3/day1" class="post-link">Day-1</a>
          <div class="post-meta">
            <div class="post-links">
            <div class="post-link-wrapper">
            <div class="post-meta">
            <div class="post-tags">
                <a class="tag">TryHackMe</a>
              </div> 
              <div class="post-excerpt">
              </div>
            </div>
             </div>
            </div>
            Dec 1,2021
            {% if site.date_format %}
              {{ post.date | date: site.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
            {% if site.show_excerpts == true %}
              <div class="post-excerpt">
                {{ post.content | strip_html | truncatewords: 50 }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="post-link-wrapper">
          <a href="/adventofcyber3/day2" class="post-link">Day-2</a>
          <div class="post-meta">
            <div class="post-links">
            <div class="post-link-wrapper">
            <div class="post-meta">
            <div class="post-tags">
                <a class="tag">TryHackMe</a>
              </div> 
              <div class="post-excerpt">
              </div>
            </div>
             </div>
            </div>
            Dec 2,2021
            {% if site.date_format %}
              {{ post.date | date: site.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
            {% if site.show_excerpts == true %}
              <div class="post-excerpt">
                {{ post.content | strip_html | truncatewords: 50 }}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="post-link-wrapper">
          <a href="/adventofcyber3/day3" class="post-link">Day-3</a>
          <div class="post-meta">
            <div class="post-links">
            <div class="post-link-wrapper">
            <div class="post-meta">
            <div class="post-tags">
                <a class="tag">TryHackMe</a>
              </div> 
              <div class="post-excerpt">
              </div>
            </div>
             </div>
            </div>
            Dec 3,2021
            {% if site.date_format %}
              {{ post.date | date: site.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
            {% if site.show_excerpts == true %}
              <div class="post-excerpt">
                {{ post.content | strip_html | truncatewords: 50 }}
              </div>
            {% endif %}
          </div>
        </div>
    </div>

    {% include pagination.html %}

    {% include tagcloud.html %}


