---
layout: default1
---
{% include author.html %}
<hr>
<h1>Blogs</h1>
<div class="post-links">
  <div class="post-link-wrapper">
    <a href="/CTF/adventofcyber3/day1" class="post-link">Day-1</a>
    <div class="post-meta">
      <div class="post-links">
      <div class="post-link-wrapper">
      <div class="post-meta">
      <div class="post-tags">
          <a class="tag">TryHackMe</a>
        </div> 
        <div class="post-excerpt">
        </div>
      </div>
       </div>
      </div>
      Dec 1,2021
      {% if site.date_format %}
        {{ post.date | date: site.date_format }}
      {% else %}
        {{ post.date | date: "%b %-d, %Y" }}
      {% endif %}
      {% if site.show_excerpts == true %}
        <div class="post-excerpt">
          {{ post.content | strip_html | truncatewords: 50 }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

    {% include pagination.html %}

